@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#name{
    color: palegoldenrod;
}
body {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
    margin: 50px;
}


.container .left_side {
    position: relative;
    background: #003147;
    padding: 40px;
    color: aquamarine;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {

    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {

    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;

}

.contactInfo {

    padding-top: 40px;
}

.title {
    color: papayawhip;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {

    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300px;
}


.contactInfo.education li{
margin-bottom: 15px;
}

.contactInfo.education h5{

    color: aquamarine;
    font-weight: 500;

}
.contactInfo.education h4{
     color: aquamarine;
    font-weight: 500;

}
.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #081921;
    display: block;
    margin-top: 5px;
    
    }
    
    .contactInfo.language .percent div{

        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: #03a9f4;
    }


.container .right_Side {
    position: relative;
    background: #fff;
    padding: 40px;
}


.title2{
    color: rgb(100, 63, 109);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1px
}
#box1{
    
    border: 3px dotted black;
    padding: 5px;
    margin: 5px;
    font-weight: 30px;
    color: rgb(19, 107, 107);

}
#box2{
    
    border: 3px dotted black;
    padding: 5px;
    margin: 5px;
    font-weight: 30px;
    color: rgb(19, 107, 107);

}
#box3{
    
    border: 3px dotted black;
    padding: 5px;
    margin: 5px;
    font-weight: 30px;
    color: rgb(19, 107, 107);

}
#box4{
    
    border: 3px dotted black;
    padding: 5px;
    margin: 5px;
    font-weight: 30px;
    color: rgb(19, 107, 107);

}
#skills .box {

position: relative;
width: 100%;
display: grid;
grid-template-columns: 150px 1fr;
align-items: center;
}
#skills .box h4{
    text-transform: uppercase;
    font-weight: 500;
    color: #848c99;
}

#skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: gray;

}
#html{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
#css{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
#js{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
#python{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}
#java{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: red;
}